<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content" class="mt-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">SURNAME</th>
            <th scope="col">EXAM</th>
            <th scope="col">MARK</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="student : ${students}" th:style="${student.exam < 50?'color: red':''}">-->
<!--            <th scope="row" th:text="${student.id}" ></th>-->
<!--            <td th:text="${student.name}"></td>-->
<!--            <td th:text="${student.surname}"></td>-->
<!--            <td th:text="${student.exam}"></td>-->
<!--            <td th:text="${student.mark}"></td>-->
<!--        </tr>-->

        </tbody>
    </table>
</div>

</html>