<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content" class="mt-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">SURNAME</th>
            <th scope="col">EXAM</th>
            <th scope="col">MARK</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}" >
            <th scope="row" th:text="${request.id}" ></th>
            <td th:text="${request.userName}"></td>
            <td th:text="${request.phone}"></td>
            <td th:text="${request.course.name}"></td>
            <td th:text="${request.handled}"></td>
        </tr>

        </tbody>
    </table>
</div>

</html>