<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="mt-5">
            <h2 class="text-center" style="color: red">***NEW PENDING REQUEST***</h2>
    <form method="post" th:action="@{'/update-request/'+ ${request.id}}" class="d-flex  flex-column align-items-center p-2">
        <div class="form-group col-7">
            <label >USERNAME:</label>
            <input readonly  name="userName" type="text" class="form-control mt-2" th:value="${request.userName}">
        </div>
        <div class="form-group col-7 mt-3">
            <label >COURSE:</label>
            <select class="form-control" name="course.id"  >
                <option  th:each="course : ${courses}" th:selected="${course == request.course}"
                        th:value="${course.id}" th:text="${course.name}">
                </option>
            </select>
        </div>
        <div class="form-group col-7 mt-3">
            <label >PHONE:</label>
            <input readonly type="tel" name="phone" class="form-control mt-2" th:value="${request.phone}">
        </div>
        <div class="form-group col-7 mt-3">
            <label >COMMENTARY:</label>
            <textarea readonly class="form-control" name="commentary" th:text="${request.commentary}"></textarea>
        </div>
        <div class="form-group col-7 mt-3 mr-auto">
            <div>
                <button type="submit" class="btn btn-primary">UPDATE REQUEST</button>
                <button type="submit" class="btn btn-danger">DELETE REQUEST</button>
            </div>
        </div>
    </form>
</div>
</html>